server:
  access-control: {{ internal_net_v4 }} allow
  access-control: {{ private_net_v4 }} allow
  access-control: {{ internal_net_v6 }} allow
  auto-trust-anchor-file: var/root.key
  chroot: /opt/unbound/etc/unbound
  directory: /opt/unbound/etc/unbound
  do-daemonize: no
  domain-insecure: hack.
{% for zone in adns_zones %}
  domain-insecure: {{ zone.name }}.
{% endfor %}
  interface-automatic: yes
  local-zone: 10.in-addr.arpa. nodefault
  local-zone: 20.172.in-addr.arpa. nodefault
  local-zone: 21.172.in-addr.arpa. nodefault
  local-zone: 22.172.in-addr.arpa. nodefault
  local-zone: 23.172.in-addr.arpa. nodefault
  local-zone: 31.172.in-addr.arpa. nodefault
  local-zone: 168.192.in-addr.arpa. nodefault
  local-zone: d.f.ip6.arpa. nodefault
  logfile: ""
  log-servfail: yes
  max-udp-size: 1232
  trust-anchor: 'dn42. IN DS 3096 10 2 B7C687A99BEE60E172EA439BD2D3087B1D970916575DB9C1CB591B7EE15D8CB1'
  trust-anchor: 'dn42. IN DS 64441 10 2 6DADDA00F5986BD26FE4F162669742CF7EBA07D212B525ACAC9840EE06CB2799'
  trust-anchor: 'd.f.ip6.arpa. IN DS 3096 10 2 23FB364C82E6ED1C30B18C635F58DCA58BBEB2E069BBD9D90AB9A90F66B948D2'
  trust-anchor: 'd.f.ip6.arpa. IN DS 64441 10 2 9057500A3B6E09BF45A60ED8891F2E649C6812D5D149C45A3C560FA0A6195C49'
  trust-anchor: '20.172.in-addr.arpa. IN DS 3096 10 2 6ADF85EFDDF223C8747F1816B12B62FEEA0B9B1BDB65E7C809202F890A33740D'
  trust-anchor: '20.172.in-addr.arpa. IN DS 64441 10 2 616C149633E93D963B0E8F738719630EA0A09F4AABE211B1FBB8FC9F51304027'
  trust-anchor: '21.172.in-addr.arpa. IN DS 3096 10 2 506FD7F34AAAD4DF1B6CFA56FE8C00E157B1C32551C981DEF0C5FD8F65AB14AC'
  trust-anchor: '21.172.in-addr.arpa. IN DS 64441 10 2 4CC085716BA83F18DF1A7FB9F9479D10327E3D30E222C7A197109C7560AE0368'
  trust-anchor: '22.172.in-addr.arpa. IN DS 3096 10 2 5437AB49F1CD947D41C585C2CC9C357323013391B0E5F94784F99175142C3260'
  trust-anchor: '22.172.in-addr.arpa. IN DS 64441 10 2 383A8C2714D3DA76F58CEE4C54566566B336B2DFA219B965F7CB706D71C54356'
  trust-anchor: '23.172.in-addr.arpa. IN DS 3096 10 2 631B00BA00CF80A8300B356BCCA2FDE4C844F6FF707A2D98B4518C72E0643467'
  trust-anchor: '23.172.in-addr.arpa. IN DS 64441 10 2 E91C0281E705317968C76689E4F36BF2207C90BDFAAD071693BB9A999D15778F'
  trust-anchor: 'neo. IN DS 56336 13 2 317F7CC14D2F74ABF560CFCE6F89F5187872573BA5A7AF9A9B14CF47E51489E5'
  trust-anchor: '127.10.in-addr.arpa. IN DS 22312 13 2 16859DEDDC7966541B4507D4612B00EA6FB95B2773E51D4BCC201E16F6178B0F'
  trust-anchor: 'crxn. IN DS 1624 15 2 CE9AE07ABC41D7A509530DEBEFFA79D42DE7167208435D3E1881BB5448ABAEAF'
  username: '_unbound'

########################################################################
# LOCAL ZONES - we'd like for them to work even if DN42 DNS is down    #
########################################################################

{% for zone in adns_zones %}
stub-zone:
  name: {{ zone.name }}.
{% for ipv4 in anycast_ips.adns.ipv4 %}
  stub-addr: {{ ipv4 }}
{% endfor %}
{% for ipv6 in anycast_ips.adns.ipv6 %}
  stub-addr: {{ ipv6 }}
{% endfor %}
  stub-prime: yes

{% endfor %}
########################################################################
# DN42 ZONES                                                           #
########################################################################

stub-zone:
  name: dn42.
  stub-addr: 172.20.129.1
  stub-addr: 172.20.14.34
  stub-addr: 172.20.1.254
  stub-addr: fd42:4242:2601:ac53::1
  stub-addr: fdcf:8538:9ad5:1111::2
  stub-addr: fd42:5d71:219:0:216:3eff:fe1e:22d6
  stub-prime: yes

{% for x in [20, 21, 22, 23] %}
stub-zone:
  name: {{ x }}.172.in-addr.arpa.
  stub-addr: 172.20.129.1
  stub-addr: 172.20.14.34
  stub-addr: 172.20.1.254
  stub-addr: fd42:4242:2601:ac53::1
  stub-addr: fdcf:8538:9ad5:1111::2
  stub-addr: fd42:5d71:219:0:216:3eff:fe1e:22d6
  stub-prime: yes

{% endfor %}
stub-zone:
  name: d.f.ip6.arpa.
  stub-addr: 172.20.129.1
  stub-addr: 172.20.14.34
  stub-addr: 172.20.1.254
  stub-addr: fd42:4242:2601:ac53::1
  stub-addr: fdcf:8538:9ad5:1111::2
  stub-addr: fd42:5d71:219:0:216:3eff:fe1e:22d6
  stub-prime: yes

########################################################################
# CHAOSVPN ZONES                                                       #
########################################################################

stub-zone:
  name: hack.
  stub-addr: 172.31.0.5
  stub-prime: yes

stub-zone:
  name: 31.172.in-addr.arpa.
  stub-addr: 172.31.0.5
  stub-prime: yes

{% for x in [100, 101, 102, 103] %}
stub-zone:
  name: {{ x }}.10.in-addr.arpa.
  stub-addr: 172.31.0.5
  stub-prime: yes

{% endfor %}
########################################################################
# NEONETWORK ZONES                                                     #
########################################################################

stub-zone:
  name: neo.
  stub-addr: 10.127.255.53
  stub-addr: fd10:127:ffff:53::
  stub-prime: yes

stub-zone:
  name: 127.10.in-addr.arpa.
  stub-addr: 10.127.255.53
  stub-addr: fd10:127:ffff:53::
  # As of March 2022, NeoNetwork DNS appears to be misconfigured.
  # NeoPDP-11.neo. (10.127.255.1) is listed as the nameserver for this
  # zone, but it doesn't respond. Therefore, keep using the nameservers
  # configured here.
  stub-prime: no

########################################################################
# CRXN ZONE                                                            #
########################################################################

stub-zone:
  name: crxn.
  stub-addr: fd92:58b6:2b2::54
  stub-prime: yes
