meta ibrname "dbr-general" tcp dport 9090 ip saddr {{ unicast_ips.grafana[inventory_hostname].ipv4 }} ip daddr { {{ unicast_ips.prometheus.values()|map(attribute='ipv4')|join(', ') }} } accept
meta ibrname "dbr-general" tcp dport 9090 ip6 saddr {{ unicast_ips.grafana[inventory_hostname].ipv6 }} ip6 daddr { {{ unicast_ips.prometheus.values()|map(attribute='ipv6')|join(', ') }} } accept
