meta obrname "dbr-general" tcp dport http ip daddr {{ unicast_ips.grafana[inventory_hostname].ipv4 }} ip saddr $INTERNAL_NETS_V4 accept
meta obrname "dbr-general" tcp dport http ip6 daddr {{ unicast_ips.grafana[inventory_hostname].ipv6 }} ip6 saddr $INTERNAL_NETS_V6 accept
