name: int-{{ hostvars[item].inventory_hostname_short }}
address_v6: {{ wg_mesh_address }}/64
{% if wg_mesh_endpoint_address is defined %}
port: {{ hostvars[item].wg_mesh_port }}
{% endif %}
peers:
- host: {{ item }}
  allowed_ips: '0.0.0.0/0,::/0'
{% if hostvars[item].wg_mesh_endpoint_address is defined %}
  endpoint_address: {{ hostvars[item].wg_mesh_endpoint_address }}
  endpoint_port: {{ wg_mesh_port }}
{% endif %}
