[Interface]
{% if item.port is defined %}
ListenPort = {{ item.port }}
{% endif %}
{% if item.address_v4 is defined %}
{% if item.pointopoint_v4 is defined %}
Address = {{ item.address_v6 }}
PostUp = ip addr add {{ item.address_v4 }} peer {{ item.pointopoint_v4 }} dev {{ item.name }}
{% else %}
Address = {{ item.address_v4 }}, {{ item.address_v6 }}
{% endif %}
{% else %}
Address = {{ item.address_v6 }}
{% endif %}
PostUp = wg set {{ item.name }} private-key /etc/wireguard/private_key
Table = off
{% for peer in item.peers %}

[Peer]
{% if peer.host is defined %}
PublicKey = {{ hostvars[peer.host].wg_public_key }}
{% else %}
PublicKey = {{ peer.public_key }}
{% endif %}
{% if (peer.endpoint_address is defined) or (peer.endpoint_port is defined) %}
EndPoint = {{ peer.endpoint_address }}:{{ peer.endpoint_port }}
{% endif %}
{% if peer.keepalive is defined %}
PersistentKeepalive = {{ peer.keepalive }}
{% endif %}
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}
