iface wireguard inet static
	pre-up ip link add $IFACE type wireguard
	pre-up wg setconf $IFACE /etc/wireguard/$IFACE.conf
	pre-up wg set $IFACE private-key /etc/wireguard/private_key
	post-down ip link del $IFACE

{% for if in wg_ifs %}
auto {{ if.name }}
{% if if.address_v4 is defined %}
iface {{ if.name }} inet static inherits wireguard
	address {{ if.address_v4 }}
{% if if.pointopoint_v4 is defined %}
	pointopoint {{ if.pointopoint_v4 }}
{% endif %}
{% else %}
iface {{ if.name }} inet manual inherits wireguard
{% endif %}
iface {{ if.name }} inet6 static
	address {{ if.address_v6 }}
{% endfor %}
