log syslog all;
timeformat base     iso long;
timeformat log      iso long;
timeformat protocol iso long;
timeformat route    iso long;

router id {{ internal_ipv4 }};

function is_internal() {
    return net ~ {{ internal_net_v4 }}
        || net ~ {{ private_net_v4 }}
        || net ~ {{ internal_net_v6 }};
}

function is_dn42() {
    return net ~ 172.20.0.0/14
        || net ~ 172.31.0.0/16
        || net ~ 10.0.0.0/8
        || net ~ fd00::/8;
}

function is_default() {
    return net = 172.20.0.0/14
        || net = 172.31.0.0/16
        || net = 10.0.0.0/8
        || net = fd00::/8
        || net = {{ internal_net_v4 }}
        || net = {{ private_net_v4 }}
        || net = {{ internal_net_v6 }}
        || net = 0.0.0.0/0
        || net = ::/0;
}

protocol device {
}

include "kernel.conf";
include "{{ router_scope }}.conf";
{% if router_site_role is defined %}
include "{{ router_site_role }}.conf";
{% endif %}

template bgp service_advertisement from bgp_base {
    local as 4200000998;
    neighbor as 4200000999;
    dynamic name "int_svc_dyn";
    ipv4 {
        import where is_internal();
        export none;
    };
    ipv6 {
        import where is_internal();
        export none;
    };
}

# The following are manually configured BGP peers.
{% for peer in bgp_manual_peers|default([]) %}
protocol bgp {{ peer.name }} from {{ peer.template }} {
{% if peer.local is defined %}
    local {{ peer.local }};
{% endif %}
    neighbor {{ peer.neighbor }}{% if peer.as is defined %} as {{ peer.as }}{% endif %};
{% if peer.interface is defined %}
    interface "{{ peer.interface }}";
{% endif %}
{% if peer.multihop|default(false) %}
    multihop;
{% endif %}
{% if peer.override_import is defined or peer.override_export is defined %}
    ipv4 {
{% if peer.override_import is defined %}
        import {{ peer.override_import }};
{% endif %}
{% if peer.override_export is defined %}
        export {{ peer.override_export }};
{% endif %}
    };
    ipv6 {
{% if peer.override_import is defined %}
        import {{ peer.override_import }};
{% endif %}
{% if peer.override_export is defined %}
        export {{ peer.override_export }};
{% endif %}
    };
{% endif %}
}
{% else %}
# (None are configured.)
{% endfor %}
