protocol kernel kernel4 {
    ipv4 {
        import none;
        export filter {
            if source !~ [ RTS_OSPF, RTS_BGP, RTS_STATIC ] then reject;

            # IPv6 source selection will choose ULA addresses when
            # the destination is a ULA address, so an internal address
            # will be selected. However, with IPv4, the kernel may try
            # choose an external IPv4 address as the source when
            # extended (IPv6) next-hops are in use. This instructs the
            # kernel to prefer our primary internal IPv4 address as the
            # source on any routes BIRD installs, which fixes the
            # problem.
            krt_prefsrc = {{ internal_ipv4 }};
            accept;
        };
    };
    metric 512;  # This is high enough not to override kernel device routes.
}

protocol kernel kernel6 {
    ipv6 {
        import none;
        export where source ~ [ RTS_OSPF, RTS_BGP, RTS_STATIC ];
    };
    metric 512;
}
