########################################################################
# ICMPV6 ROUTER ADVERTISEMENT FOR HOME NETWORKS                        #
########################################################################

protocol radv {
    propagate routes yes;
    ipv6 {
        export where is_dn42_default() && (source ~ [RTS_STATIC, RTS_BGP]);
    };
    prefix ::/0 {
        skip yes;
    };
{% for if in radv_ifs %}

    interface "{{ if.name }}" {
        default lifetime 0;
        prefix {{ if.prefix }} {
            skip no;
        };
    };
{% endfor %}
}
