########################################################################
# RIP FOR HOME NETWORKS (ADVERTISING ROUTES TO HOME ROUTERS)           #
########################################################################

protocol rip rip4 {
    ipv4 {
        import none;
        export where (is_dn42_default() || is_internal_default())
            && (source ~ [RTS_STATIC, RTS_BGP]);
    };
{% for if in rip_ifs %}
    interface "{{ if }}";
{% endfor %}
}
